body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(187, 57, 178) 0%, rgb(0, 255, 214) 69%);
}

.header 
{
    min-height: 250px;
    position: relative;
}

.header-content
{        
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align:center;
    color: white;
}

.navigation-bar
{
    display:flex;
    list-style: none;
    position: absolute;
    bottom: 0;
    padding-inline-start: 0;
}

.navigation-link
{
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
}

.navigation-link:hover 
{
    color: teal;
}

.page-contents
{
    margin: 5px 20px;
    display: flex;
    flex-wrap: wrap;
}

.content-block 
{
    max-width: 800px;
    position: relative;
    margin: 20px auto;
    padding: 20px;

    border: rgb(179, 172, 172) solid 1px;
    border-radius: 10px;
    box-shadow: 2px 1px lightgray;
    background-color: white;
}

.content-type
{
    max-width: 100px;

    color: rgb(17, 128, 128); 

    font-weight: 600;
}